<!-- <ul>
  <li *ngFor="let calciatore of calciatori" class="calciatore" 
  [ngClass]="{'selezionato':calciatoreSelezionato == calciatore, 
  'destro': calciatore.piede == 'destro', 'sinistro': calciatore.piede == 'sinistro'}" >
    {{calciatore.nome_completo}}
    <button type="button" (click)="seleziona(calciatore)">Seleziona</button>
  </li>
</ul> -->

<div style="display: flex;">
  <div>
    <app-calciatore-preview *ngFor="let c of calciatori; index as i; odd as dispari," [calciatore]="c" 
    [delay]="(i + 1)*1000" [dispari]='dispari' (oncalciatoreSelezionato)="seleziona($event)"></app-calciatore-preview>

    <button type="button" (click)="seleziona(undefined)">Svuota</button>
  </div>
  <app-calciatore-detail  [calciatore]="calciatoreSelezionato"></app-calciatore-detail>
</div>


<!-- <button type="button" (click)="infoBottone($event)">Cliccami</button> -->

  


<!-- <div>
    <input type="text" placeholder="piede" [(ngModel)]="calciatore.piede">
    {{calciatore.piede}}
  </div>

  <div>
    <input type="text" [(ngModel)]="calciatore.squadra">
  </div>

  <div *ngIf="calciatore.piede == 'destro' || calciatore.piede == 'ambidestro'" class="box destro"> D
  </div>

  <div *ngIf="calciatore.piede == 'sinistro' || calciatore.piede == 'ambidestro'" class="box sinistro">S</div>

  <pre>
    {{calciatore | json}}
  </pre> -->
